.dash-grid {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 2rem;
    margin-left: 2rem;
}

p {
    display: grid;
    justify-content: center;
    padding-top: 20px;
    font-size: larger;
}